@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

.navbg {
    background-color: rgb(0, 0, 0, 0.8);
}

.emergencyBtn {
    color: black;
    background-color: #96D4EB;
}

.emergencyBtn:hover {
    color: white;
    background-color: black;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

html{
    scroll-behavior: smooth;
}